@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');


body {
    background-color: black;
    height: 100%;
}


.top-header-right p {
    display: inline-block;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 81px;
    color: rgb(162,156,156);
    padding: 0 10px;
    transition: all 0.5s ease-in-out;
}

.top-header-right p:hover {
    cursor: pointer;
    color: white;
}

.TheMVContainer {
    position: absolute;
    top: 11%;
    left: 0;
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: center;
}

img {
    z-index: 3;
}


@media screen and (max-width: 2000px) and (min-width: 600px) {


    .top-header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: black;
    }

    .top-header-right {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1 1 40%;
        min-width: 50ch;
        z-index: -1;
    }

    .top-header-left {
        width: 100%;
        flex: 1 1 60%;
    }

    #open {
        display: none;
    }

    .closebtn {
        display: none;
    }
}


@media screen and (max-width: 930px) and (min-width: 600px) {


    img {
        width: 100%;
        height: 100%;
    }

    .infomation {
       left: 0;
       top: 350px;
    }
}

@media screen and (min-width: 1155px) {


    .infomation {
        left: 18%;
        top: 800px;
    }
}

@media screen and (min-width: 921px) {
    .other-info {
        margin-top: 20%;
    }
}




.infomation {
    font-size: 22px;
    color: rgb(238,230,230);
    display: flex;
    flex-wrap: wrap;
    height: auto;
    position: absolute;
    flex-direction: row;
    font-family: 'Be Vietnam Pro', sans-serif;
}




.infomation > div {
    margin-right: 40px;
    margin-left: 40px;
    min-width: 25ch;
}

.about-us {
    letter-spacing: 0.05em;
    flex: 20%;
}

.other-info {
    flex: 20%;
}


.infomation p  {
    width: auto;
    display: flex;
    flex-wrap: wrap;
}


.contact-form {
    top: 150%;
    left: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: absolute;
}

.form-left {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-form-left {
    min-width: 25ch;
    flex: 1 1 50%;
}

.contact-form-right {
    flex: 1 1 30%;
    margin-top: 80px;
}

.contact-form-right > * {
    line-height: 1.4em;
}

.contact-form-right h1 {
    font-size: 50px;
    letter-spacing: 0.1em;
}

.contact-form-right p {
    font-size: 22px;
    letter-spacing: 0.05em;
}

.form-left > * {
    flex: 1 1 50%;
}

.contact-form > div {
    background-color: black;
    margin-right: 40px;
}

input[type="text"], input[type="email"] {
    height: 40px;
}

textarea {
    height: 150px;
}


input[type="text"], input[type="email"], textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    border: 1px solid white;
    background-color: black;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
    border: 2px solid white;
}

.send {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    #open {
        display: block;
        position: fixed;
        z-index: 5;
        top: 5px;
        right: 10px;
        color: white;
    }

    .top-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: black;
    }

    .top-header-right {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 6;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;

    }

    .closebtn {
        color: #818181;
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .top-header-left {
        display: none;
    }

    .top-header-right p {
        color: white;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .TheMVContainer {
        top: 5%;
    }

    .contact-form-left {
        padding-right: 15px;
    }

    .contact-form {
        top: 100%;
        flex-direction: column-reverse;
    }

    .contact-form > div {
        margin-right: 0;
    }

    .map {
        align: center;
    }

    .infomation {
        font-size: 20px;
    }

    .infomation > div {
        margin-right: 0;
        margin-left: 10px;
    }

    .contact-form-right p {
        font-size: 20px;
    }

    .contact-form-right h1 {
        font-size: 30px;
    }

    .contact-form-right {
        flex: 1 1 100%;
        margin-top: 0;
        margin-bottom: 10px;
    }

    img {
        width: 100%;
    }
}


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(162,156,156);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.5rem;
    padding: 50px 0px;
}
