@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

body {
    background-color: black;
    height: 100%;
    transition: 0.5s;
}

.top-header {
    z-index: 3;
}

.pagefont {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: white;
}

.flowdown {
    display: flex;
    flex-direction: column;
}

.flowleft {
    display: flex;
    flex-direction: row;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: 100%;
}

.sixty {
    width: 60%;
}

.forty {
    width: 40%;
}

.fiddy {
    width: 50%;
}

.padded {
    margin: 2%;
}

.top-header-right p {
    display: inline-block;
    text-align: center;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 81px;
    color: rgb(162,156,156);
    padding: 0 10px;
    transition: all 0.5s ease-in-out;
}

.top-header-right p:hover {
    cursor: pointer;
    color: white;
}

.TheMVContainer {
    top: 11%;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: center;
}



@media screen and (max-width: 2000px) and (min-width: 600px) {
    .top-header {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: black;
    }

    .top-header-right {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1 1 80%;
        min-width: 50ch;
        z-index: -1;
    }

    .top-header-left {
        width: 100%;
        flex: 1 1 60%;
    }

    #open {
        display: none;
    }

    .closebtn {
        display: none;
    }
}


@media screen and (max-width: 930px) and (min-width: 600px) {


    #TheMV {
        width: 100%;
        height: 100%;
    }

    .information {
       left: 0;
       top: 350px;
    }
}

@media screen and (min-width: 1155px) {


    .information {
        left: 18%;
        top: 800px;
    }
}

@media screen and (min-width: 921px) {
    .other-info {
        margin-top: 10%;
    }
}

.information {
}

.other-info {
    flex: 20%;
}

.coffee {

}

@media screen and (max-width: 600px) {

    #open {
        display: block;
        position: fixed;
        z-index: 5;
        top: 5px;
        right: 10px;
        color: white;
    }

    .top-header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: black;
    }

    .top-header-right {
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 6;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;

    }

    .closebtn {
        color: #818181;
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .top-header-left {
        display: none;
    }

    .top-header-right p {
        color: white;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .TheMVContainer {
        top: 5%;
    }

    .contact-form-left {
        padding-right: 15px;
    }

    .contact-form > div {
        margin-right: 0;
    }


    .information {
        font-size: 20px;
    }

    .information > div {
        margin-right: 0;
        margin-left: 10px;
    }

    .contact-form-right p {
        font-size: 20px;
    }

    .contact-form-right h1 {
        font-size: 30px;
    }

    .flags img {
        width: 60px;
        height: 30px;
    }

    #TheMV {
        width: 100%;
    }
}

.mapouter .gmap_canvas {
    width: 100%;
}

#gmap_canvas {
    width: 600px;
}

@media screen and (max-width: 700px) {
    #gmap_canvas {
        width: 100%;
    }
}

#sweets {

}

#sweets #container {
    width: 100%;
    flex-wrap: nowrap;
}

#coffee {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: black;
    top: 150%;
    left: 0;
}

#coffee #right {
    flex: 1 1 30%;
}

#coffee #left {
    flex: 1 1 30%;
    margin-right: 150px;
}

#Coffee #Coffeeimg {
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;

}

@media screen and (max-width: 1040px) {

    #Coffee {
        top: 135%
    }

}
