<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link rel="stylesheet" href="css/Home.css">
        <script src='scripts/Home.js' defer></script>
    </head>

    <body>
        <div class="top-header">
            <div class="top-header-left"></div>
            <div class="top-header-right">
                <p onclick="smoothScroll(infomation)">ÜBER UNS</p>
                <p onclick="smoothScroll(cf)">KONTAKT</p>
            </div>
        </div>
    </body>
    <div class="TheMVContainer">
        <img src="img/TheMultiVerse.jpg" alt="TheMV" id="TheMV">
    </div>

    <div class="infomation" id="infomation">
        <div class="about-us">
            <p><h1>ÜBER UNS</h1>Willkommen bei The Multiverse!<br>
                Süßigkeiten, Kaffee oder beides?<br>
                Wir haben Süßigkeiten aus Schweden,<br> einige Süßigkeiten aus Japan, denn,<br> warum nicht?!
                Wenn du gerne<br> deine eigene Tüte machst, dann ist Pick'N'Mix genau das Richtige für dich.<br> Wenn du lieber schon fertige<br> Tüten magst,haben wir auch die!</span></span><br>
                <br>
                Wir arbeiten an einem Webshop für Sie,<br> bitte haben Sie etwas Geduld!</p>
        </div>
        <div class="other-info" id="other-info">
            <p>            ÖFFNUNGSZEITEN – LADEN
                <br>
                Montag – Freitag von 12 bis 19 Uhr
                <br>
                Samstag von 13 bis 18 Uhr geöffnet.
                <br>
                <br>
                Ebertystr 24
                <br>
                10249 Berlin</p>
        </div>
        
        <div class="contact-form" id="cf">
            <div class="contact-form-left" id="contact-form-left">
                <form action="" class="form-left">
                    <span class="name">Vornamen *</span>
                    <input type="text" name="name" required="true">
                    <span class="surname">Nachnamen *</span>
                    <input type="text" name="surname" required="true">
                    <span class="email">Ihre E-Mail eingeben *</span>
                    <input type="email" name="Email" required="true">
                    <span class="subject">Geben Sie Ihren Betreff ein</span>
                    <input type="text" name="subject">
                    <span class="message">Ihre Nachricht eingeben</span>
                    <textarea name="Message"></textarea>  
                    <input type="submit" value="Senden" class="send">
                </form>
            </div>
            <div class="contact-form-right" id="contact-form-right">
                <h1>KONTAKT</h1>
                <p>Bitte, wenn Sie Fragen zum Shop haben,<br> kontaktieren Sie uns bitte hier!</p>
                <p>themultiverse.berlin@gmail.com.</p>
            </div>
        </div>
    </div>



    <div class="footer" id="footer">
        <p>© 2021 by The Multiverse</p>
    </div>
</html>